body {
    background-image: url("https://wallpapercave.com/wp/EqYoNrr.jpg")
}

h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: white;
}

h3 {
    color: white;
}